body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}


.heading{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
}


.wrapper{
    text-align: center;
    margin-top: 10%;
}

button{
    margin: 5%;
    height: 50px;
    width: 120px;
    border: 1px solid white;
    border-radius: 20px;
}